@model NEMeli.Models.Usuario

@{
    ViewData["Title"] = "Details";
}

<div class="row">
  

<h1>Lista de Colaboradores</h1>
</div>


<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Username)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Username)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cargo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cargo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Pais)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Pais)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Equipe)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Equipe)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DataEntrada)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DataEntrada)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DataAlteracao)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DataAlteracao)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Editar</a> |
    <a asp-action="Index">Voltar para a lista de colaboradores</a>
</div>
